.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
    text-align:center;

}

.login
{
    text-align:center;
    padding-top:2%;
}


/* Popup Classes */
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}