:root {
    --ktwhitegradient: $primary;
    --ktgreengradient:$primary;
    --kthoverbgsize:$primary;
  }
  
  .bg
  {
      background-color: #003C71;
      background-size: cover;
      height: 100vh;
      color: #FFFFFF;
      overflow:auto;
      background-repeat: repeat;
      width:100%;
      text-align:center;
  }
  
  .userCount
  {
      color:black;
      margin:auto;
      background: white; /* default color */
      background-size: 200%;
      transition: 0.2s ease-out;
      border-radius: 10px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .userCount:hover
  {
     transform: scale(1.08);
  }
  
  
  .KT_progress
  {
      color:#2992f3;
      margin:auto;
      background: white; /* default color */
      background: linear-gradient(to left, white var(--ktwhitegradient), #2992f3 var(--ktgreengradient)) right;
      background-size: 200%;
      transition: 0.5s ease-out;
      border-radius: 10px;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  
  .KT_progress:hover
  {
     background-position: left;
     background-size: var(--kthoverbgsize);
     color:black;
  
  }