<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRM KT Utility</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    <style>
	.navbar {
			background-image:url('static/backgrnd_img.png');
			border-bottom: .2rem solid #00EEFF;
			padding-right:1%;
			background-size: 100% 150%;
			}
	.body-content {
		background-color:#003C71;
		text-align:center;
		color:white;
		}
	.nav-text {
	color:#00EEFF;
	}
	.logo {
	width:11%;
	text-align:left;
	padding-left:2%;
	}
	.home {
	width:10%;
	font-size:140%;
	text-align:right;
	}
	.CRM-logo {
	font-size:140%;
	text-align:right;
	padding-right:1%;
	font-weight:bold;
	}
	.nav-content {
	width:10%;
	text-align:left;
	}
	.user-type {
	color:#00EEFF;
	background-color:#003C71;
	}
	.select-username {
	text-align:right;
	padding-right:1%;
	}
	.track-user {
	text-align:right;
	padding-left:1%;
	padding-right:1%;
	padding-bottom:0%;
	background-color:#7FFFD4;
	}
	.add-user {
	text-align:right;
	background-color:#FFB6C1;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-bottom:0%;
	}
	.learning_div {
	text-align:left;
	padding-left:2%;
	margin:2%;
	color:#bbbbbf;
	font-size:125%;
	}
    </style>
	<script>
		function text_underline(id){
		document.getElementById(id).style.textDecoration="underline";
		}
		function no_underline(id){
		document.getElementById(id).style.textDecoration="none";
		}
	</script>
</head>
<body style="margin:0px" class="body-content">
<header class="navbar">
    <table style="width:100%;">
        <tr style="width:100%;">
            <td class="logo">
				<a href="/base">
					<img src="https://performancemanager4.successfactors.com/public/ui-resource/BScientific/83;mod=400b4062b5272113ccc2aec6f8a666ec">
				</a>
            </td>
			<td class="home">
                
				<!-- <a href = "/" style="color:#00EEFF;text-decoration:none;">Home</a> -->
				<a href="/" class="btn btn-info btn-lg" style="padding:5%;">
				  <span class="glyphicon glyphicon-home"></span> Home
				</a>
            </td>
			<td class="CRM-logo">
			NEW JOINEE ONBOARDING
            </td>
        </tr>
    </table>
</header>
{% block content%}

{% endblock content%}
</body>
</html>