{% extends 'base.html' %}
{% block content %}

<style>
	.heading {
		text-align:left;
		margin-left:2%;
		padding-left:2.5%;
		width:60%;
		margin-bottom:0;
		padding-bottom:0;
		font-size:150%;
		font-family: Arial, Helvetica, sans-serif;
		}
	.table_content {
	text-align:left;
	border-radius:20px;
	font-size:100%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:80%;
	background-color:#ececec;
	color:#222;
	}
	.url {
	color:black;
	font-size:100%;
	text-decoration:none;
	}
	.non-url {
	color:black;
	font-size:100%;
	text-decoration:none;
	}
	td
	{
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
.button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left:10%;
  padding-right:10%;
}
button:disabled {
  background-color: #aeb8b0;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  padding-left:10%;
  padding-right:10%;
}
progress {
  border: 1px solid grey;

  width: 80px;
  height: 10px;
}

progress::-webkit-progress-value {
  background: green;
}

progress::-webkit-progress-bar {
  background: #d6d8d7;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  
  
}

/* Tooltip1 text */
.tooltip1 .tooltiptext1 {
  visibility: hidden;
  width: 120px;
  background-color: #D5938E;
  color: #4B4B4B;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip1 text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext1 {
  visibility: visible;
}


</style>
<div style="text-align:center;padding-left:15%;">
<table style="width:80%;">
<tr style="">
<td style="width:55%;" class="heading" text-align="left">Basic Trainings</td>
</tr>
</table>
</div>
<div style="text-align:center;padding-left:15%;">
<form name="commonTrainings" method="post">
<table class="table_content">
	  <thead>
		<tr style="width:100%;line-height:300%;margin-left:2%;">
		  <th style="width:15%;padding-left:2%;" scope="col">MODULE</th>
		  <th style="width:32%" scope="col">CURRICULUM</th>
		  <th style="width:20%;" scope="col">DUE DATE</th>
		  <th style="width:15%" scope="col">STATUS</th>
		  <th style="width:10%" scope="col"></th>
		</tr>
	  </thead>
	  <tbody>
			<tr>
			  <td style="padding-left:3%;">1</td>
			  <td>
				<a id="link1" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >System Access Request</a>
			  </td>
			  <td>
			  {{user_info.DueDate_System_Access_Request}}
			  </td>
			  <td>
				<progress style="border-radius:50px;" id="progress1" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="System_Access_Request" name="System_Access_Request" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)">Sign-off</button>
			  </td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">2</td>
			  <td>
				<a id="link2" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Overview of CRM</a>
			  </td>
			  <td>
			  {{user_info.DueDate_Overview_of_CRM}}
			  </td>
			  <td>
				<progress id="progress2" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="Overview_of_CRM" name="Overview_of_CRM" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)">Sign-off</button>
			  </td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">3</td>
			  <td>
				<a id="link3" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >System Evaluation Methodology</a>
			  </td>
			  <td>
			  {{user_info.DueDate_System_Evaluation_Methodology}}
			  </td>
			  <td>
				<progress id="progress3" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="System_Evaluation_Methodology" name="System_Evaluation_Methodology" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)">Sign-off</button>
			  </td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">4</td>
			  <td>				
				<div class="tooltip1">Lab Walkthrough&nbsp;
				  <span class="tooltiptext1">You need to ask your mentor to give you a Lab walkthrough.</span>
				</div>
			  </td>
			  <td>
			  {{user_info.DueDate_Lab_Walkthrough}}
			  </td>
			  <td>
				<progress id="progress4" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="Lab_Walkthrough" name="Lab_Walkthrough" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)">Sign-off</button>
			  </td>
			</tr>  
		  </tbody>
</table>

<br>

<div style="text-align:left;padding-left:2%;font-family: Arial, Helvetica, sans-serif;">
<a href="" class="btn btn-info btn-lg" id="project_navigation">
				   Project Trainings
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*** <span style="font-weight:bold;">Basic Trainings</span> and <span style="font-weight:bold;">Project Trainings</span> can be done in parallel.</div> 
<br>

<div style="text-align:left" hidden>
<div>Selected button: <input id="submitted_button" name="submitted_button"></input></div>
<div>status_System_Access_Request: <input id="System_Access_Request_flag" name="System_Access_Request_flag" value="{{user_info.System_Access_Request}}"/></div>
<div>status_Overview_of_CRM: <input id="Overview_of_CRM_flag" name="Overview_of_CRM_flag" value="{{user_info.Overview_of_CRM}}"/></div>
<div>status_System_Evaluation_Methodology: <input id="System_Evaluation_Methodology_flag" name="System_Evaluation_Methodology_flag" value="{{user_info.System_Evaluation_Methodology}}"/></div>
<div>status_Lab_Walkthrough: <input id="Lab_Walkthrough_flag" name="Lab_Walkthrough_flag" value="{{user_info.Lab_Walkthrough}}"/></div>
</div>
</form>
</div>

<script>
		function LoadPageasperDB() {
		let val1 = document.getElementById('System_Access_Request_flag').value;
		let val2 = document.getElementById('Overview_of_CRM_flag').value;
		let val3 = document.getElementById('System_Evaluation_Methodology_flag').value;
		let val4 = document.getElementById('Lab_Walkthrough_flag').value;
		if (val1 == 'Y') {
		document.getElementById('progress1').value='100';
		document.getElementById('System_Access_Request').innerHTML='Signed';
		document.getElementById('System_Access_Request').disabled=true;
		};
		if (val2 == 'Y') {
		document.getElementById('progress2').value='100';
		document.getElementById('Overview_of_CRM').innerHTML='Signed';
		document.getElementById('Overview_of_CRM').disabled=true;
		};
		if (val3 == 'Y') {
		document.getElementById('progress3').value='100';
		document.getElementById('System_Evaluation_Methodology').innerHTML='Signed';
		document.getElementById('System_Evaluation_Methodology').disabled=true;
		};
		if (val4 == 'Y') {
		document.getElementById('progress4').value='100';
		document.getElementById('Lab_Walkthrough').innerHTML='Signed';
		document.getElementById('Lab_Walkthrough').disabled=true;
		};
		}
		LoadPageasperDB();
		function text_underline(id){
		document.getElementById(id).style.textDecoration="underline";
		}
		function no_underline(id){
		document.getElementById(id).style.textDecoration="none";
		}
		function add_background(id){
		document.getElementById(id).style.background="#00EEFF";
		}
		function remove_background(id){
		document.getElementById(id).style.background="#ececec";
		}
		function signoff_confirmation(id){
		document.getElementById(id).outerHTML='Are you sure ?<button style="background-color:#85C1E9;">YES</button>&nbsp;&nbsp;<button style="background-color:#F2D7D5;">NO</button>';
		}
		function change_values(){
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const user=urlParams.get('user');
		const project=urlParams.get('project');
		<!-- document.getElementById('project_navigation').href="/"+project+"?user="+user+"&project="+project; -->
		document.getElementById('project_navigation').href="http://127.0.0.1:3000/dashboard";
		document.getElementById('username_tag').value=user;
		document.getElementById('projectname_tag').value=project;
		}
		change_values();
		function signoff(id){
		let text;
		if (confirm ("Are you sure you want to sign-off ? \nThis will mark your module as completed.") == true) {
		document.getElementById('submitted_button').value = id;
		document.forms["commonTrainings"].submit();
		}
		else {window.location.reload();}
		}
		
</script>
{% endblock content%}