{% extends 'base.html' %}
{% block content%}

<style>

	.heading {
		text-align:left;
		margin-left:2%;
		padding-left:2.5%;
		width:80%;
		margin-bottom:0;
		padding-bottom:0;
		font-size:150%;
		font-family: Arial, Helvetica, sans-serif;
		}
	.table_content {
	text-align:left;
	border-radius:20px;
	font-size:100%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:80%;
	background-color:#ececec;
	color:#222;
	}
	.url {
	color:black;
	font-size:100%;
	text-decoration:none;
	}
	td
	{
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
.button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left:5%;
  padding-right:5%;
}
button:disabled {
  background-color: #aeb8b0;
  border: 1px solid black;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  padding-left:5%;
  padding-right:5%;
}
progress {
  border: 1px solid grey;

  width: 80px;
  height: 10px;
}

progress::-webkit-progress-value {
  background: green;
}

progress::-webkit-progress-bar {
  background: #d6d8d7;
}
.subsection {
padding-left:3%;
}
.tooltip1 {
  position: relative;
  display: inline-block;
  
}

/* Tooltip text */
.tooltip1 .tooltip1text {
  visibility: hidden;
  width: 250px;
  background-color: #D5938E;
  color: #4B4B4B;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip1 text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip1 text when you mouse over the tooltip1 container */
.tooltip1:hover .tooltip1text {
  visibility: visible;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


</style>
<!-- <table style="width:100%;">
<tr style="">
<td style="width:30%;padding-left:2%;" class="heading">Project Trainings</td>
<td onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" style="width:60%;padding-left:17%;padding-top:3%;"><button id ="projectnavigation" onmouseenter="add_background(this.id)" onmouseleave="remove_background(this.id)" style="margin:0;background-color:#ececec;"><a  id="project_navigation" class="heading" style="color:black;margin:0;text-decoration:none;" href="">Basic Trainings</a></button></td>
</tr>
</table> -->

<div style="text-align:center;padding-left:15%;">
<table style="width:80%;">
<tr style="">
<td style="width:55%;" class="heading" text-align="left">Project Trainings</td>
</tr>
</table>
</div>
<div style="text-align:center;padding-left:15%;">
<form name="projectTrainings" method="post">
<table class="table_content">
<thead>
		<tr style="width:100%;line-height:300%;">
		  <th style="width:15%;padding-left:2%;" scope="col">MODULE</th>
		  <th style="width:32%" scope="col">CURRICULUM</th>
		  <th style="width:20%;" scope="col">DUE DATE</th>
		  <th style="width:15%" scope="col">STATUS</th>
		  <th style="width:10%" scope="col"></th>
		</tr>
	  </thead>
<tbody>
<tr>
			  <td style="padding-left:3%;">1</td>
			  <td>
			  <a id="link1" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Product overview</a>
			  </td>
			  <td>
			  {{user_info.DueDate_Product_overview}}
			  </td>
			  <td>
				<progress id="progress1" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="Product_overview" name="Product_overview" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)">Sign-off</button>
			  </td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">2</td>
			  <td><a id="link2" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Components of ICM</a></td>
			  <td>
			  {{user_info.DueDate_Components_of_ICM}}
			  </td>
			  <td>
				<progress id="progress2" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="Components_of_ICM" name="Components_of_ICM" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			  </td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">3</td>
			  <td>				
				<div class="tooltip1">End to end setup&nbsp;
				  <span class="tooltip1text">You need to complete it's sub sections.</span>
				</div>
			  </td>
			  <td></td>
			  <td>
			  <progress id="progress3" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="End_to_end_setup" name="End_to_end_setup" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				a.&nbsp;&nbsp;&nbsp;<a id="link3" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Patient enrollment & firmware</a></td>
			  <td>
			  {{user_info.DueDate_Patient_enrollment_firmware}}
			  </td>
			  <td></td>
			  <td>
			  <button id="Patient_enrollment_firmware" name="Patient_enrollment_firmware" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				b.&nbsp;&nbsp;&nbsp;<a id="link4" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >PMM setup</a></td>
			  <td>
			  {{user_info.DueDate_PMM_setup}}
			  </td>
			  <td></td>
			  <td>
			<button id="PMM_setup" name="PMM_setup" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button>			  
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			 <td class="subsection">
				c.&nbsp;&nbsp;&nbsp;<a id="link5" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >PMM setup device programming</a></td>
			  <td>
			  {{user_info.DueDate_PMM_setup_device_programming}}
			  </td>
			  <td></td>
			  <td><button id="PMM_setup_device_programming" name="PMM_setup_device_programming" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button></td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			 <td class="subsection">
				d.&nbsp;&nbsp;&nbsp;<a id="link6" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Interrogation</a></td>
			  <td>
			  {{user_info.DueDate_Interrogation}}
			  </td>
			  <td></td>
			  <td><button id="Interrogation" name="Interrogation" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button></td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				e.&nbsp;&nbsp;&nbsp;<a id="link7" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >CMM setup</a></td>
			  <td>
			  {{user_info.DueDate_CMM_setup}}
			  </td>
			  <td></td>
			  <td><button id="CMM_setup" name="CMM_setup" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button></td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				f.&nbsp;&nbsp;&nbsp;<a id="link8" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >IOS setup</a></td>
			  <td>
			  {{user_info.DueDate_IOS_setup}}
			  </td>
			  <td></td>
			  <td><button id="IOS_setup" name="IOS_setup" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button></td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">4</td>
			  <td>				
				<div class="tooltip1">Automation set up&nbsp;
				  <span class="tooltip1text">You need to complete it's sub sections.</span>
				</div>
			  </td>
			  <td> </td>
			  <td>
			  <progress id="progress4" max="100" value="0"></progress>
			  </td>
			  <td>
			  <button id="automation_setup" name="automation_setup" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				a.&nbsp;&nbsp;&nbsp;<a id="link9" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Komodo ICM</a></td>
			  <td>
			  {{user_info.DueDate_Komodo_ICM}}
			  </td>
			  <td>
				
			  </td>
			  <td>
			  <button id="Komodo_ICM" name="Komodo_ICM" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				b.&nbsp;&nbsp;&nbsp;<a id="link10" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Apollo</a>
			  </td>
			  <td>
			  {{user_info.DueDate_Apollo}}
			  </td>
			  <td>
				
			  </td>
			  <td>
			<button id="Apollo" name="Apollo" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				c.&nbsp;&nbsp;&nbsp;<a id="link11" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Atlas</a></td>
			  <td>
			  {{user_info.DueDate_Atlas}}
			  </td>
			  <td>
				
			  </td>
			  <td>
			<button id="Atlas" name="Atlas" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				d.&nbsp;&nbsp;&nbsp;<a id="link12" class="url" href="http://latitudewiki/display/SYSEVAL/" target="_blank" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" >Hermes</a></td>
			  <td>
			  {{user_info.DueDate_Hermes}}
			  </td>
			  <td>
				
			  </td>
			  <td>
			<button id="Hermes" name="Hermes" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <td style="padding-left:3%;">5</td>
			  <td>				
				<div class="tooltip1">Practice&nbsp;
				  <span class="tooltip1text">You need to complete it's sub sections.</span>
				</div>
			  </td>
			  <td></td>
			  <td>
			  <progress id="progress5" max="100" value="0" ></progress>
			  </td>
			  <td>
			  <button id="practice" name="practice" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				a.&nbsp;&nbsp;&nbsp;Hands-on</td>
			  <td>
			  {{user_info.DueDate_Hands_on}}
			  </td>
			  <td>
			  </td>
			  <td>
			  <button id="Hands_on" name="Hands_on" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"   style="visibility:hidden">Sign-off</button>
			</td>
			</tr>
			<tr>
			  <th style="padding-left:2%;"></th>
			  <td class="subsection">
				<div class="tooltip1">b.&nbsp;&nbsp;&nbsp;Assessment&nbsp;
				  <span class="tooltip1text">Kindly complete all the trainings before proceeding for assessment.</span>
				</div>
			  </td>
			  <td>
			  {{user_info.DueDate_Assessment}}
			  </td>
			  <td></td>
			<td>
			<button id="Assessment" name="Assessment" class="button" onmouseenter="text_underline(this.id)" onmouseleave="no_underline(this.id)" onclick="signoff(this.id)"  style="visibility:hidden">Sign-off</button>
			</td>
			</tr>			
</tbody>
</table>

<br>
<!-- <div style="text-align:left;padding-left:2%;font-family: Arial, Helvetica, sans-serif;">*** <span style="font-weight:bold;">Basic Trainings</span> and <span style="font-weight:bold;">Project Trainings</span> can be done in parallel.</div> -->

<div style="text-align:left;padding-left:2%;font-family: Arial, Helvetica, sans-serif;">
<a href="" class="btn btn-info btn-lg" id="project_navigation">
				   Basic Trainings
</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*** <span style="font-weight:bold;">Basic Trainings</span> and <span style="font-weight:bold;">Project Trainings</span> can be done in parallel.</div> 
<br>


<div style="text-align:left" hidden>
<div>Selected button: <input id="submitted_button" name="submitted_button"></input></div>
<div>status_Product_overview: <input id="Product_overview_flag" name="Product_overview_flag" value="{{user_info.Product_overview}}"/></div>
<div>status_Components_of_ICM: <input id="Components_of_ICM_flag" name="Components_of_ICM_flag" value="{{user_info.Components_of_ICM}}"/></div>
<div>status_Patient_enrollment_firmware: <input id="Patient_enrollment_firmware_flag" name="Patient_enrollment_firmware_flag" value="{{user_info.Patient_enrollment_firmware}}"/></div>
<div>status_PMM_setup: <input id="PMM_setup_flag" name="PMM_setup_flag" value="{{user_info.PMM_setup}}"/></div>
<div>status_PMM_setup_device_programming: <input id="PMM_setup_device_programming_flag" name="PMM_setup_device_programming_flag" value="{{user_info.PMM_setup_device_programming}}"/></div>
<div>status_Interrogation: <input id="Interrogation_flag" name="Interrogation_flag" value="{{user_info.Interrogation}}"/></div>
<div>status_CMM_setup: <input id="CMM_setup_flag" name="CMM_setup_flag" value="{{user_info.CMM_setup}}"/></div>
<div>status_IOS_setup: <input id="IOS_setup_flag" name="IOS_setup_flag" value="{{user_info.IOS_setup}}"/></div>
<div>status_Komodo_ICM: <input id="Komodo_ICM_flag" name="Komodo_ICM_flag" value="{{user_info.Komodo_ICM}}"/></div>
<div>status_Apollo: <input id="Apollo_flag" name="Apollo_flag" value="{{user_info.Apollo}}"/></div>
<div>status_Atlas: <input id="Atlas_flag" name="Atlas_flag" value="{{user_info.Atlas}}"/></div>
<div>status_Hermes: <input id="Hermes_flag" name="Hermes_flag" value="{{user_info.Hermes}}"/></div>
<div>status_Hands_on: <input id="Hands_on_flag" name="Hands_on_flag" value="{{user_info.Hands_on}}"/></div>
<div>status_Assessment: <input id="Assessment_flag" name="Assessment_flag" value="{{user_info.Assessment}}"/></div>

</div>
</form>
</div>	 

<script>
function LoadPageasperDB() {
		let val1 = document.getElementById('Product_overview_flag').value;
		let val2 = document.getElementById('Components_of_ICM_flag').value;
		let val3 = document.getElementById('Patient_enrollment_firmware_flag').value;
		let val4 = document.getElementById('PMM_setup_flag').value;
		let val5 = document.getElementById('PMM_setup_device_programming_flag').value;
		let val6 = document.getElementById('Interrogation_flag').value;
		let val7 = document.getElementById('CMM_setup_flag').value;
		let val8 = document.getElementById('IOS_setup_flag').value;
		let val9 = document.getElementById('Komodo_ICM_flag').value;
		let val10 = document.getElementById('Apollo_flag').value;
		let val11= document.getElementById('Atlas_flag').value;
		let val12 = document.getElementById('Hermes_flag').value;
		let val13 = document.getElementById('Hands_on_flag').value;
		let val14 = document.getElementById('Assessment_flag').value;
		let count_progress3 = 0;
		let count_progress4 = 0;
		let count_progress5 = 0;
		if (val1 == 'Y') {
		document.getElementById('progress1').value='100';
		document.getElementById('Product_overview').innerHTML='Signed';
		document.getElementById('Product_overview').disabled=true;
		document.getElementById('Components_of_ICM').style.visibility="visible";
		};
		if (val2 == 'Y') {
		document.getElementById('progress2').value='100';
		document.getElementById('Components_of_ICM').innerHTML='Signed';
		document.getElementById('Components_of_ICM').disabled=true;
		document.getElementById('Patient_enrollment_firmware').style.visibility="visible";
		};	
		if (val3 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('Patient_enrollment_firmware').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('PMM_setup').style.visibility="visible";
		};
		if (val4 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('PMM_setup').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('PMM_setup_device_programming').style.visibility="visible";
		};
		if (val5 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('PMM_setup_device_programming').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('Interrogation').style.visibility="visible";
		};
		if (val6 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('Interrogation').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('CMM_setup').style.visibility="visible";
		};
		if (val7 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('CMM_setup').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('IOS_setup').style.visibility="visible";
		};
		if (val8 == 'Y') {
		count_progress3 = count_progress3 + 17;
		document.getElementById('IOS_setup').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('End_to_end_setup').style.visibility="visible";
		document.getElementById('End_to_end_setup').innerHTML='Signed';
		document.getElementById('End_to_end_setup').disabled=true;
		document.getElementById('Komodo_ICM').style.visibility="visible";
		};
		document.getElementById('progress3').value=count_progress3;
		if (val9 == 'Y') {
		count_progress4 = count_progress4 + 25;
		document.getElementById('Komodo_ICM').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('Apollo').style.visibility="visible";
		};
		if (val10 == 'Y') {
		count_progress4 = count_progress4 + 25;
		document.getElementById('Apollo').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('Atlas').style.visibility="visible";
		};
		if (val11 == 'Y') {
		count_progress4 = count_progress4 + 25;
		document.getElementById('Atlas').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('Hermes').style.visibility="visible";
		};
		if (val12 == 'Y') {
		count_progress4 = count_progress4 + 25;
		document.getElementById('Hermes').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('automation_setup').style.visibility="visible";
		document.getElementById('automation_setup').innerHTML='Signed';
		document.getElementById('automation_setup').disabled=true;
		document.getElementById('Hands_on').style.visibility="visible";
		};
		document.getElementById('progress4').value=count_progress4;
		if (val13 == 'Y') {
		count_progress5 = count_progress5 + 50;
		document.getElementById('Hands_on').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('Assessment').style.visibility="visible";
		};
		if (val14 == 'Y') {
		count_progress5 = count_progress5 + 50;
		document.getElementById('Assessment').outerHTML = '<div style="padding-left:10%"><input type="checkbox" checked="checked"/></div>';
		document.getElementById('practice').style.visibility="visible";
		document.getElementById('practice').innerHTML='Signed';
		document.getElementById('practice').disabled=true;
		};
		document.getElementById('progress5').value=count_progress5;
		}
		LoadPageasperDB();
		function text_underline(id){
		document.getElementById(id).style.textDecoration="underline";
		}
		function no_underline(id){
		document.getElementById(id).style.textDecoration="none";
		}
		function add_background(id){
		document.getElementById(id).style.background="#00EEFF";
		}
		function remove_background(id){
		document.getElementById(id).style.background="#ececec";
		}
		function change_href(){
		const queryString = window.location.search;
		const urlParams = new URLSearchParams(queryString);
		const user=urlParams.get('user');
		const project=urlParams.get('project');
		document.getElementById('project_navigation').href="/basicTrainings?user="+user+"&project="+project;		
		}
		change_href();
		function signoff(id){
		if (confirm ("Are you sure you want to sign-off ? \nThis will mark your module as completed.") == true) {
		document.getElementById('submitted_button').value = id;
		document.forms["projectTrainings"].submit();
		}
		else {window.location.reload();}
		}
		
</script>

{% endblock content%}