{% extends 'base.html' %}
{% block content %}

<style>
.content {
	text-align:center;
	font-size:120%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:60%;
	}
	select {
	  font-size: 18px;
	 border-radius:5px;
	 padding:1%;
	}
	option {
		font-size: 20px;
	}
	td
	{
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
</style>

<div style="text-align:center;padding-left:25%;padding-top:2%;">
	<form name="login" method="post" action="/" class="content">
		<div>
			Trainee Email
			<input type="email" class="form-control email1" id="email1" placeholder="Trainee Email..." name="email1">
		</div>
		<br>
		<div>
			Trainer Email
			<input type="email" class="form-control email2" id="email2" placeholder="Trainer Email..." name="email2">
		</div>
		<br>
		<div>
			Manager Email
			<input type="email" class="form-control email2" id="email3" placeholder="Manager Email..." name="email3">
		</div>
		<br>
		
			Project Assigned
		<div style="color:black;">
			<select name="project1" id="project1" style="width:100%;" onclick="moveSubmitButton()" onmouseleave="movebackSubmitButton()">
			  <option selected disabled >Select the Project</option>
			  <option value="ICM">ICM</option>
			  <option value="Denali">Denali</option>
			  <option value="MM Sustaining">MM Sustaining</option>
			</select>
		</div>
		<br>
		<input id="submit_button" type="submit" class="btn btn-info btn-lg" style="padding:1%;margin-top:5%;"></input>
	</form>
</div>

<script>
function moveSubmitButton(){
document.getElementById('submit_button').style.marginTop = "16%";
}
function movebackSubmitButton(){
document.getElementById('submit_button').style.marginTop = "5%";
}

</script>

{% endblock content %}
