.date_input
{
    width:20%;
    padding:1%;
    margin:auto;
    justify-content:center;
    border-radius:10px;
    background-color:white;
    color:black;
}

.table
{
    width:80%;
    display: flex;
    flex-direction: column;
    background:white;
    margin:2%;
}

.table .rdt_Table {
  flex: 1;
}

.table .rdt_Pagination {
  order: -1; /* Moves the pagination component to the top */
}