.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
    text-align:center;

}

.table_content
{
	text-align:left;
	border-radius:20px;
	font-size:100%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:80%;
	background-color:#ececec;
	color:#222;
}

.progress
{
    display:inline-block;
    width:100%;
}

