:root {
  --opwhitegradient: $primary;
  --opgreengradient:$primary;
  --ophoverbgsize:$primary;
  --ktwhitegradient: $primary;
  --ktgreengradient:$primary;
  --kthoverbgsize:$primary;
}

.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
    text-align:center;

}

.overall_progress
{
    color: #60BE71;
    width:100%;
    height:100%;
    margin-left:1%;
    font-size:400%;
    font-weight:800;
    background: white; /* default color */
    background: linear-gradient(to left, white var(--opwhitegradient), #60BE71 var(--opgreengradient)) right;
    background-size: 200%;
    transition: 0.5s ease-out;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.overall_progress:hover
{
   background-position: left;
   background-size: var(--ophoverbgsize);
   color:black;
}

.KT_completion_date
{
    color:#2992f3;
    width:100%;
    height:100%;
    font-size:250%;
    font-weight:600;
    background: white; /* default color */
    background: linear-gradient(to left, white var(--ktwhitegradient), #2992f3 var(--ktgreengradient)) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.KT_completion_date:hover
{
   background-position: left;
   background-size: var(--kthoverbgsize);
   color:black;

}


.Sub_Module_Progress
{
    color: black;
    width:100%;
    height:100%;
    font-size:150%;
    padding:4%;
    font-weight:800;
    background: white; /* default color */
    background-size: 200%;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}


