:root {
  --mtwhitegradient: $primary;
  --mtgreengradient:$primary;
  --mthoverbgsize:$primary;
}

.missed_trainings_table_content
{
	text-align:center;
	border-radius:20px;
	font-size:100%;
	margin:2%;
	background-color:#ececec;
	color:#222;
}

.Missed_trainings
{
    color:#DB4437;
    background: white; /* default color */
    background: linear-gradient(to left, white var(--mtwhitegradient), #DB4437 var(--mtgreengradient)) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}


.Missed_trainings:hover
{
   background-position: left;
   background-size: var(--mthoverbgsize);
   color:black;

}