.PST_Progress
{
    color: black;
    width:100%;
    height:100%;
    padding : 4%;
    font-size:100%;
    font-weight:800;
    background: white; /* default color */
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.PST_Progress:hover
{
    transform: scale(1.08);
}

