.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
    text-align:center;

}

.knowledge_base
{
    text-align:center;
    padding-top:2%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.project_folder
{
    text-align:left;
    margin-left:2%;
}

.table_content
{
	text-align:left;
	border-radius:20px;
	font-size:100%;
	padding:1%;
	width: 100%;
	padding-left:2%;
	background-color:#ececec;
	color:#222;
}

/* Popup Classes */
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #0F9D58;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left:10%;
  padding-right:10%;
}
button:hover{
    background-color: #90ee90;
    color:#006400 ;
}