.content {
	text-align:center;
	font-size:120%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:60%;

	}
	td
	{
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
}
.Login_type
{
    text-align:center;
    padding-top:2%;
}

.footer {
	text-align: center;
	position: absolute;
	color:white;
	bottom: 0;
	width: 100%;
	padding:0.5%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-image:url('../static/backgrnd_img.png');
	background-size: 100% 150%;
   border-top: 3px solid #00EEFF;   
  }

  .align-left {
	position: absolute;
	left: 1%;
  }