.navbar
{
	background-image:url('../static/backgrnd_img.png');
	border-bottom: .2rem solid #00EEFF;
	padding-right:1%;
	background-size: 100% 150%;
}
.body-content
{
	background-color:#003C71;
	text-align:center;
	color:white;
}
.nav-text
{
    color:#00EEFF;
}
.logo
{
    width:11%;
    text-align:left;
    padding-left:2%;
}
.home
{
    width:10%;
    font-size:140%;
    text-align:right;
}
.CRM-logo
{
    height:auto;
    font-size:140%;
    text-align:right;
    padding-right:1%;
    font-weight:bold;
}

.nav-content
{
    width:10%;
    text-align:left;
}
.user-type
{
    color:#00EEFF;
    background-color:#003C71;
}
.select-username
{
    text-align:right;
    padding-right:1%;
}
.track-user
{
    text-align:right;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:0%;
    background-color:#7FFFD4;
}
.add-user
{
    text-align:right;
    background-color:#FFB6C1;
    padding-left:0.5%;
    padding-right:0.5%;
    padding-bottom:0%;
}
.learning_div
{
    text-align:left;
    padding-left:2%;
    margin:2%;
    color:#bbbbbf;
    font-size:125%;
}

