.bg
{
    background-color: #003C71;
    background-size: cover;
    height: 100vh;
    color: #FFFFFF;
    overflow:auto;
    background-repeat: repeat;
    width:100%;
    text-align:center;

}

.table_content
{
	text-align:left;
	border-radius:20px;
	font-size:100%;
	padding:1%;
	padding-left:2%;
	margin:2%;
	width:80%;
	background-color:#ececec;
	color:#222;
}




.button {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #0F9D58;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left:10%;
  padding-right:10%;
}
button:hover{
    background-color: #90ee90;
    color:#006400 ;
}
.selected_button
{
  border: 1px solid black;
  border-radius: 25px;
  background-color: #90ee90 ;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-left:10%;
  padding-right:10%;
}




progress {
  border: 1px solid grey;

  width: 80px;
  height: 10px;
}

progress::-webkit-progress-value {
  background: #0F9D58;
}

progress::-webkit-progress-bar {
  background: #d6d8d7;
}